/* MENU */

main {
  width: 90%;
  margin: auto;
}

.seccion {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  gap: 10px;
}

.seccion img {
  width: 100%;
  border-radius: 5px;
}

.seccion article {
  width: 100%;
  // height: 100%;
  // margin: auto;
  background-image: linear-gradient(rgb(255, 255, 255), $color__uno);
  border-top: 1px solid $color__dos;
}

.seccion p {
  text-decoration-line: overline;
  margin: 20px;
  text-align: center;
}
