/* MENU */

main {
  width: 90%;
  margin: auto;
}
.seccion {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: center;
}

.seccion img {
  width: 100%;
  border-radius: 5px;
}

.seccion article {
  width: 80%;
  margin: 20px;
  background-image: linear-gradient(rgb(255, 255, 255), $color__uno);
  border-top: 1px solid $color__dos;
}

.seccion p {
  font-size: 1.3rem;
  text-decoration-line: overline;
  margin: 20px;
  text-align: center;
}
